@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = @Localizer["Confirm email"];
}

<div class="genericPageTitleText">
    
    <h1>@ViewData["Title"]</h1>
</div>
<partial name="_StatusMessage" model="Model.StatusMessage" />
