@model ApplicationRole

<form asp-action="AddAndEdit" method="post" role="form">
	<h3 class="my-5">
		@ViewBag.Title
	</h3>

	@Html.HiddenFor(model => model.Id)

	<div class="col-6">
		<div class="row g-2">

			<div class="col-5">
				<label asp-for="Name" class="form-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>

		</div>

		<div class="mt-3">
			<div class="col-md-offset-2 col-md-5">
				<input type="submit" class="btn btn-secondary" value="@ViewBag.BtnText" />
			</div>
		</div>

	</div>

</form>