<form asp-action="PromoteAllClassrooms" asp-controller="Classroom" method="post" role="form">

    <div class="genericPageTitleText">
        @Localizer["Are you sure you want to promote all classrooms"]?
    </div>

    <div class="mt-4 buttons">
        <button class="btn" type="submit">@Localizer["PromoteClassrooms"]</button>
    </div>

</form>